### Анализ датасета

In [11]:
from pyspark.sql import SparkSession
import pandas as pd


spark = SparkSession.builder.appName('test').getOrCreate()
df = spark.read.csv('new_data.csv', header=True, inferSchema=True)
df.count()

1000

In [12]:
spark

In [13]:
data = pd.read_table('new_data.csv', sep=',')
data.head()

,Unnamed: 0,trip_id,year,month,week,day,hour,usertype,gender,starttime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,0,2355134,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:57:00,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15.0,303,Broadway & Cornelia Ave,41.945512,-87.645980,15.0
1,1,2355133,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:56:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15.0,22,May St & Taylor St,41.869482,-87.655486,15.0
2,2,2355130,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:33:00,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19.0,225,Halsted St & Dickens Ave,41.919936,-87.648830,15.0
3,3,2355129,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:26:00,...,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0,194,State St & Wacker Dr,41.887155,-87.627750,11.0
4,4,2355128,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:16:00,...,320,Loomis St & Lexington St,41.872187,-87.661501,15.0,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0

In [14]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- trip_id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- usertype: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- starttime: string (nullable = true)
 |-- stoptime: string (nullable = true)
 |-- tripduration: double (nullable = true)
 |-- temperature: double (nullable = true)
 |-- events: string (nullable = true)
 |-- from_station_id: integer (nullable = true)
 |-- from_station_name: string (nullable = true)
 |-- latitude_start: double (nullable = true)
 |-- longitude_start: double (nullable = true)
 |-- dpcapacity_start: double (nullable = true)
 |-- to_station_id: integer (nullable = true)
 |-- to_station_name: string (nullable = true)
 |-- latitude_end: double (nullable = true)
 |-- longitude_end: double (nullable = true)
 |-- dpcapacity_end: double (nullable = true)

In [15]:
df.first()

Row(_c0=0, trip_id=2355134, year=2014, month=6, week=27, day=0, hour=23, usertype='Subscriber', gender='Male', starttime='2014-06-30 23:57:00', stoptime='2014-07-01 00:07:00', tripduration=10.066666666666666, temperature=68.0, events='tstorms', from_station_id=131, from_station_name='Lincoln Ave & Belmont Ave', latitude_start=41.939365, longitude_start=-87.668385, dpcapacity_start=15.0, to_station_id=303, to_station_name='Broadway & Cornelia Ave', latitude_end=41.945512, longitude_end=-87.64598000000001, dpcapacity_end=15.0)

In [16]:
df.head(2)

[Row(_c0=0, trip_id=2355134, year=2014, month=6, week=27, day=0, hour=23, usertype='Subscriber', gender='Male', starttime='2014-06-30 23:57:00', stoptime='2014-07-01 00:07:00', tripduration=10.066666666666666, temperature=68.0, events='tstorms', from_station_id=131, from_station_name='Lincoln Ave & Belmont Ave', latitude_start=41.939365, longitude_start=-87.668385, dpcapacity_start=15.0, to_station_id=303, to_station_name='Broadway & Cornelia Ave', latitude_end=41.945512, longitude_end=-87.64598000000001, dpcapacity_end=15.0),
 Row(_c0=1, trip_id=2355133, year=2014, month=6, week=27, day=0, hour=23, usertype='Subscriber', gender='Male', starttime='2014-06-30 23:56:00', stoptime='2014-07-01 00:00:00', tripduration=4.383333333333334, temperature=68.0, events='tstorms', from_station_id=282, from_station_name='Halsted St & Maxwell St', latitude_start=41.86458, longitude_start=-87.64693, dpcapacity_start=15.0, to_station_id=22, to_station_name='May St & Taylor St', latitude_end=41.8694821, longitude_end=-87.6554864, dpcapacity_end=15.0)]

In [17]:
df.show(2, truncate=True)

+---+-------+----+-----+----+---+----+----------+------+-------------------+-------------------+------------------+-----------+-------+---------------+--------------------+--------------+---------------+----------------+-------------+--------------------+------------+------------------+--------------+
|_c0|trip_id|year|month|week|day|hour|  usertype|gender|          starttime|           stoptime|      tripduration|temperature| events|from_station_id|   from_station_name|latitude_start|longitude_start|dpcapacity_start|to_station_id|     to_station_name|latitude_end|     longitude_end|dpcapacity_end|
+---+-------+----+-----+----+---+----+----------+------+-------------------+-------------------+------------------+-----------+-------+---------------+--------------------+--------------+---------------+----------------+-------------+--------------------+------------+------------------+--------------+
|  0|2355134|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:57:00|2014-07-01 00:07:00|10.066666666666666|       68.0|tstorms|            131|Lincoln Ave & Bel...|     41.939365|     -87.668385|            15.0|          303|Broadway & Cornel...|   41.945512|-87.64598000000001|          15.0|
|  1|2355133|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:56:00|2014-07-01 00:00:00| 4.383333333333334|       68.0|tstorms|            282|Halsted St & Maxw...|      41.86458|      -87.64693|            15.0|           22|  May St & Taylor St|  41.8694821|       -87.6554864|          15.0|
+---+-------+----+-----+----+---+----+----------+------+-------------------+-------------------+------------------+-----------+-------+---------------+--------------------+--------------+---------------+----------------+-------------+--------------------+------------+------------------+--------------+
only showing top 2 rows

In [18]:
df.columns

['_c0',
 'trip_id',
 'year',
 'month',
 'week',
 'day',
 'hour',
 'usertype',
 'gender',
 'starttime',
 'stoptime',
 'tripduration',
 'temperature',
 'events',
 'from_station_id',
 'from_station_name',
 'latitude_start',
 'longitude_start',
 'dpcapacity_start',
 'to_station_id',
 'to_station_name',
 'latitude_end',
 'longitude_end',
 'dpcapacity_end']

In [19]:
df.describe().toPandas()

,summary,_c0,trip_id,year,month,week,day,hour,usertype,gender,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,count,1000,1000,1000,1000,1000,1000,1000,1000,1000,...,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
1,mean,499.5,2354059.862,2014.0,6.0,27.0,0.0,18.247,None,None,...,157.369,None,41.89987679301433,-87.64270484009045,20.719,178.851,None,41.90287216346956,-87.64660693217219,19.035
2,stddev,288.8194360957494,531.4795324843233,0.0,0.0,0.0,0.0,1.1212708184235645,None,None,...,95.51553830166617,None,0.029062590873093153,0.01708643986159048,6.684513574054717,99.6639137034799,None,0.03213818643174924,0.019208194113257516,6.157734379842371
3,min,0,2353212,2014,6,27,0,17,Subscriber,Female,...,5,900 W Harrison,41.788746,-87.70785699999999,11.0,5,900 W Harrison,41.788746,-87.70785699999999,11.0
4,max,999,2355134,2014,6,27,0,23,Subscriber,Male,...,350,Woodlawn Ave & 55th St,41.973385,-87.58778199999999,43.0,350,Woodlawn Ave & 55th St,41.978353000000006,-87.580715,43.0

In [20]:
df.na.drop().describe('latitude_start').show()

+-------+--------------------+
|summary|      latitude_start|
+-------+--------------------+
|  count|                1000|
|   mean|   41.89987679301433|
| stddev|0.029062590873093153|
|    min|           41.788746|
|    max|           41.973385|
+-------+--------------------+